@import "tailwindcss";

/* custom propieties */

 @theme {
    --color-primary-colorlight:hsl(158, 36%, 37%);
    --color-primary-colorbold: hsl(158, 42%, 18%);

        --color-neutral-colorlighter:hsl(0, 0%, 100%);
        --color-neutral-colorlight:hsl(30, 38%, 92%);

        --color-neutral-colorbolder: Black: hsl(212, 21%, 14%);
        --color-neutral-colorbold: Grey: hsl(228, 12%, 48%);
    
    --font-familylight: "Montserrat", sans-serif;
    --font-familybold: "Fraunces", serif;


 }
 #root {
    height: 100vh;
    background: var(--color-neutral-colorlight);
 }
p{
    font-size: 14px;
}

